body {
  background-color: #121212 !important;
}
.box {
  height: 100vh;
  font-family: "Dancing Script", serif;
  font-weight: bolder;
}
h1 {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  color: rgb(145, 63, 221) !important;
}

canvas {
  border: 1px solid black;
  background-color: #f0f0f0;
  cursor: crosshair;
}
